Package: lgpo
Version: 0.2
Section: network
Priority: optional
Architecture: i386
Depends: rsync ( >= 0.1 )
Maintainer: Daniel Roque - 2006roque@gmail.com
Description: A basic linux network management
    software for automated actions.
